* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #18181a;
}

.nav-menu {
	width: 100%;
}

.nav-menu .container {
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	padding: 24px 0;
}

.nav-menu .container .logo {
	width: 24px;
	margin-left: 16px;
	background-color: transparent;
	animation: pulse 2s infinite;
	animation-direction: alternate;
}

@keyframes pulse {
	0% {
		-webkit-filter: drop-shadow(0px 0 0px #18181a);
		filter: drop-shadow(0px 0 0px #18181a);
	}

	100% {
		-webkit-filter: drop-shadow(0px 0 24px #005e30);
		filter: drop-shadow(0px 0 24px #005e30);
	}
}

.nav-menu .container .nav-menu-buttons {
	display: flex;
}

.nav-menu .container .nav-menu-buttons li {
	list-style: none;
	margin: auto;
}

.nav-menu .container .nav-menu-buttons li a {
	display: block;
	color: #9b9d9f;
	margin: 0 18px;
	text-decoration: none;
	font-size: 13px;
}

.nav-menu .container .nav-menu-buttons li .button {
	background-color: #02fd83;
	color: #18181a;
	font-family: 'Roboto Medium';
	border-radius: 32px;
	padding: 7px 16px;
	font-size: 14px;
	transition: 0.2s;
}

.nav-menu .container .nav-menu-buttons li .button:hover {
	transition: 0.2s;
	color: #000000;
	box-shadow: 0px 0 24px #005e30;
}

.order-content {
	position: relative;
	text-align: center;
}

.order-content .title {
	color: #ffffff;
	font-family: 'Roboto Black';
	font-size: 74px;
	margin-top: 8rem;
}

.order-content .description {
	color: #ffffff;
	font-family: 'Roboto Black';
	font-size: 74px;
	margin-bottom: 34px;
}

.order-content .button {
	background-color: #02fd83;
	color: #18181a;
	padding: 16px 87px;
	font-family: 'Roboto Medium';
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
	border-radius: 36px;
	transition: 0.2s;
	margin-bottom: 24px;
}

.order-content .button:hover {
	transition: 0.2s;
	color: #000000;
	box-shadow: 0px 0 34px #005e30;
}

.wave-container {
	position: relative;
}

.wave-container .wave {
	display: block;
	transform-origin: bottom;
	animation: animateWave 15s linear infinite;
	animation-direction: alternate;
}

@keyframes animateWave {
	0% {
		transform: translateZ(0) scaleY(1);
	}
	50% {
		transform: translateZ(0) scaleY(0.55);
	}
	100% {
		transform: translateZ(0) scaleY(1);
	}
}

.features {
	background-color: #131313;
	position: relative;
	width: 100%;
	text-align: center;
	margin: -1px 0;
	padding: 1.4rem 1.5rem;
}

.features .title {
	color: #ffffff;
	font-size: 64px;
	font-family: 'Roboto Black';
	margin-bottom: 4rem;
}

.features .features-content-first {
	margin: auto;
	display: flex;
	justify-content: center;
}

.features .features-content-second {
	margin: auto;
	display: flex;
	justify-content: center;
}

.features .column {
	margin: 0 44px;
	width: 200px;
}

.features .column .title {
	color: #ffffff;
	font-size: 24px;
	margin: 14px 0 8px 0;
	font-family: 'Roboto Medium';
}
.features .column i {
	margin-right: 8px;
	color: #02fd83;
}

.features .column .description {
	color: #ffffff;
	font-size: 18px;
	margin: 24px 0 34px 0;
	font-family: 'Roboto Regular';
}

.features .button {
	background-color: #02fd83;
	color: #131313;
	padding: 8px 64px;
	font-family: 'Roboto Medium';
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
	border-radius: 36px;
	margin: 34px 0 24px 0;
	transition: 0.2s;
}

.features .button:hover {
	transition: 0.2s;
	color: #000000;
	box-shadow: 0px 0 24px #005e30;
}

.statistics {
	position: relative;
	width: 100%;
	text-align: center;
	background-color: #18181a;
}

.statistics .container {
	margin: auto;
	display: flex;
	justify-content: center;
}

.statistics .container .column {
	width: 240px;
}

.statistics .container .column .title {
	color: #ffffff;
	font-size: 28px;
	font-family: 'Roboto Black';
	padding-top: 44px;
}

.statistics .container .column .description {
	color: #02fd83;
	font-size: 49px;
	font-family: 'Roboto Black';
	padding-bottom: 44px;
}

.streamers {
	position: relative;
	width: 100%;
	text-align: center;
	background-color: #131313;
}

.streamers .title {
	color: #ffffff;
	font-size: 64px;
	font-family: 'Roboto Black';
	padding: 6rem 0 2rem 0;
}

.streamers .container {
	margin: auto;
	display: flex;
	justify-content: center;
}

.streamers .container .column {
	width: 200px;
}

.streamers .container .column .logo {
	width: 74px;
	border-radius: 50%;
	filter: grayscale(100%);
	border: 3px solid #02fd83;
	transition: 0.2s;
}

.streamers .container .column .logo:hover {
	transition: 0.2s;
	filter: grayscale(0%);
	box-shadow: 0px 0 34px #005e30;
}

.streamers .container .column .title {
	color: #ffffff;
	font-size: 18px;
	margin: 14px 0 0 0;
	font-family: 'Roboto Light';
	padding: 0;
}

.footer {
	padding-top: 6rem;
	position: relative;
	bottom: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	background-color: #131313;
}

.footer .container {
	width: 1200px;
	margin: 0 auto;
	padding: 18px 0;
	align-items: center;
}

.footer .container .title {
	align-items: center;
	display: inline-flex;
	margin-bottom: 14px;
	margin-left: 8px;
}

.footer .container .footer-logo {
	width: 14px;
	margin-right: 8px;
}

.footer .container .footer-title {
	color: #e6e7ec;
}

.footer .container .footer-bottom {
	margin: 0 8px 0 8px;
	color: #e6e7ec;
	display: flex;
	justify-content: space-between;
}

.footer .container li {
	list-style: none;
}

.footer .logo {
	color: white;
	height: 24px;
}

.footer .container li p {
	margin: 0;
	font-family: 'Roboto Light';
	color: #e6e7ec;
	font-size: 12px;
}

.footer .container .by {
	font-family: 'Roboto Light';
}

.footer .container .dropbtn {
	font-family: 'Roboto Light';
	text-decoration: none;
	color: #e6e7ec;
	font-size: 12px;
	display: inline-flex;
	align-items: center;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.footer .container .fa-globe-europe {
	font-size: 18px;
	color: #e6e7ec;
	margin-right: 6px;
}

.footer .container .fa-caret-right {
	color: #e6e7ec;
	margin-left: 6px;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	bottom: 20px;
	min-width: 130px;
	text-align: center;
	border-radius: 4px;
}

.dropdown-content .pl {
	color: #02fd83;
}

.dropdown-content .us {
	color: #02fd83;
}

.dropdown-content a {
	font-family: 'Roboto Light';
	font-size: 14px;
	color: #e6e7ec;
	margin: 12px 16px;
	text-decoration: none;
	display: block;
}

.author {
	position: relative;
	bottom: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	background-color: #131313;
}

.author .by {
	color: #ffffff;
	font-family: 'Roboto Light';
	font-size: 12px;
	padding: 4px 0 4px 0;
}

.show {
	display: block;
}

::-webkit-scrollbar {
	width: 9px;
}

::-webkit-scrollbar-track {
	background: #0c0c0d;
}

::-webkit-scrollbar-thumb {
	background: #02fd83;
	border-radius: 10px;
}

@font-face {
	font-family: 'Roboto Regular';
	src: url(fonts/Roboto-Regular.ttf);
}

@font-face {
	font-family: 'Roboto Medium';
	src: url(fonts/Roboto-Medium.ttf);
}

@font-face {
	font-family: 'Roboto Light';
	src: url(fonts/Roboto-Light.ttf);
}

@font-face {
	font-family: 'Roboto Black';
	src: url(fonts/Roboto-Black.ttf);
}

@font-face {
	font-family: 'Roboto Bold';
	src: url(fonts/Roboto-Bold.ttf);
}

@media only screen and (max-width: 1240px) {
	.nav-menu li .contact {
		color: #ffffff;
		background-color: transparent;
		border: 2px solid #02fd83;
	}

	.order-content .title {
		font-size: 64px;
	}

	.order-content .description {
		font-size: 64px;
	}

	.order-content .button {
		font-size: 14px;
		padding: 12px 58px;
	}

	.nav-menu li .contact:hover {
		color: #ffffff;
	}

	.features .title {
		font-size: 58px;
	}
}

@media only screen and (max-width: 1100px) {
	.offer .title {
		font-size: 54px;
	}

	.features .title {
		font-size: 48px;
	}

	.streamers .title {
		font-size: 58px;
	}
}

@media (max-width: 920px) {
	.order-content .title {
		font-size: 48px;
	}

	.order-content .description {
		font-size: 48px;
	}

	.footer .container li p {
		font-size: 11px;
	}

	.footer .container .lang {
		font-size: 11px;
	}

	.footer .container .fa-globe-europe {
		font-size: 16px;
	}

	.offer .title {
		font-size: 44px;
	}

	.features .title {
		font-size: 38px;
	}

	.streamers .title {
		font-size: 48px;
	}
}

@media only screen and (max-width: 740px) {
	.features .title {
		font-size: 34px;
	}

	.streamers .title {
		font-size: 44px;
	}
}

@media (max-width: 700px) {
	.offer .title {
		font-size: 38px;
	}

	.features .title {
		font-size: 31px;
	}

	.streamers .title {
		font-size: 38px;
	}
}

@media (max-width: 640px) {
	.order-content .title {
		font-size: 42px;
	}

	.order-content .description {
		font-size: 42px;
	}

	.offer .title {
		font-size: 34px;
	}

	.features .title {
		font-size: 28px;
	}
}

@media only screen and (max-width: 590px) {
	.features .features-content-first {
		display: block;
	}

	.features .features-content-second {
		display: block;
	}

	.features .column {
		text-align: center;
		margin: auto;
	}

	.features .column .description {
		margin: 14px 0 44px 0;
	}

	.statistics .container .column .description {
		font-size: 38px;
	}

	.statistics .container .column .title {
		font-size: 24px;
	}

	.streamers .title {
		font-size: 34px;
	}
}

@media (max-width: 560px) {
	.offer .title {
		font-size: 28px;
	}

	.features .title {
		font-size: 26px;
	}
}

@media (max-width: 540px) {
	.order-content .title {
		font-size: 34px;
	}

	.order-content .description {
		font-size: 34px;
	}
}

@media (max-width: 470px) {
	.order-content .title {
		font-size: 27px;
	}

	.order-content .description {
		font-size: 27px;
	}

	.offer .title {
		font-size: 24px;
	}
}

@media (max-width: 410px) {
	.offer .title {
		font-size: 22px;
	}
}

@media (max-width: 360px) {
	.order-content .title {
		font-size: 24px;
	}

	.order-content .description {
		font-size: 24px;
	}
}

#loader img {
	position: absolute;
	top: 50%;
	left: 50%;
	animation: crescendo 1.2s alternate infinite ease-in;
}

@keyframes crescendo {
	0% {
		transform: translate(-50%, -50%) scale(0.8);
	}
	100% {
		transform: translate(-50%, -50%) scale(1.5);
	}
}

/* Płynne przejscie" */
.animate-bottom {
	position: relative;
	-webkit-animation-name: animatebottom;
	-webkit-animation-duration: 1s;
	animation-name: animatebottom;
	animation-duration: 1s;
}

@-webkit-keyframes animatebottom {
	from {
		bottom: -100px;
		opacity: 0;
	}
	to {
		bottom: 0px;
		opacity: 1;
	}
}

@keyframes animatebottom {
	from {
		bottom: -100px;
		opacity: 0;
	}
	to {
		bottom: 0;
		opacity: 1;
	}
}

#myDiv {
	display: none;
	text-align: center;
}
